body{
	background-color: #1D272E;
}

#screen{
	width: 396px;
	height: 297px;
	
	position: relative;
	left: 50%;
	
	transform: translateX(-198px);
	
	border: 1px #2D373E solid;
	
	cursor: none;
}